/* Liquid Button */
.btn-liquid .inner {
  display: block;
  position: relative;
  z-index: 2;
}
.btn-liquid canvas {
  position: absolute;
  top: -50px;
  right: -50px;
  bottom: -50px;
  left: -50px;
  z-index: 1;
}
/* End Liquid Button */